<!DOCTYPE html>
<html lang="en">

<head>
  <title>FindBerth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  <style>
#passenger_fileds span
{
  width: 75px;
}

#passenger_fileds input
{
  width: 450px;
}


footer{
  position: fixed;
  z-index: 3;
  bottom: 10px;
  width: 100%;
}

#end{
 position:relative; top:25px; left: 45%;

}
  .foot
  {
   font-size: 40px;
   background-color:black;
  }
	.footicon
  {
		color:grey;
	}

  .footer,.push
  {
    left:0;
    height: 545px;
  }


  #border label
  {
      width: 300px;
  }
</style>

   <script>

console.log("hp");
function display()
{
  var a1 =  document.getElementById("user_input").value;
  console.log(a1);
  a=a1%8;
  console.log(a);
  if(a==1)
  {
  document.getElementById('d').innerHTML = "Left Lower berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  else if(a==2)
  {
  document.getElementById('d').innerHTML = "Left Middle berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  // var a =  document.getElementById("user_input").value;
  else if(a==3)
  {
  document.getElementById('d').innerHTML = "Left Upper berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  else if(a==4)
  {
  document.getElementById('d').innerHTML = "Right Lower berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  // var a =  document.getElementById("user_input").value;
  if(a==5)
  {
  document.getElementById('d').innerHTML = "Right Middle berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  if(a==6)
  {
  document.getElementById('d').innerHTML = "Right Upper berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  // var a =  document.getElementById("user_input").value;
  if(a==7)
  {
  document.getElementById('d').innerHTML = "Side Lower berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }
  if(a==0)
  {

  document.getElementById('d').innerHTML = "Side Upper berth";
  //   var pic = ""
  //   document.getElementById('bigpic').src = pic.replace('90x90', '225x225');
  }

  function handle(e)
  {
    e=e||window.event;
    var key = e.keyCode;
    if(key==13) 
    {
      display();

       }
  }

}

</script>
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="container">
    <!-- navbar#####################################################################################################333-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">ASHAS railways</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
         <li class="active"><a href={{ url_for('home') }} ><span class="glyphicon"></span> Home</a></li>
            <li><a href={{ url_for('enquiry') }} ><span class="glyphicon"></span>Enquiry </a></li>
            <li><a href={{ url_for('catering') }} ><span class="glyphicon"></span>E-catering</a></li>
            <li><a href={{ url_for('faq') }} ><span class="glyphicon"></span>FAQ</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a>{{name}}</a></li>
            <li><a href={{ url_for('index') }} > Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>



<!-- cross button -->
<!--
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button> -->
<div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-2">Check your BERTH</h2>
    <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
  </div>
</div>
</div>

<div class="container">

  <form >
    <div class="form-group">
      <label for="exampleInputEmail1">Ticket number</label>
      <input type="number" class="form-control" id="user_input"  placeholder="Enter ticket number">
    </div>

<button type="button" class="btn btn-primary" onclick="display()" onkeypress="handle(event)">Submit</button>

  </form>

  <h1><span id='d'></span></h1>
   <!-- <img id="bigpic" src="bigpic" /> -->

</div>




<div class="push"></div>
</div>
  <!-- ############################   FOOTER  ###############################################################################################################################-->
</body>

  <footer id="footer">
    <!--footer -->

    <div class="container" bg-color="red">
      <div class="row" align="center">
        <div class="col-sm-12 foot">
          <a href="#"> <i class="fab fa-facebook-square footicon"></i></a>
          <a href="#"> <i class="fab fa-github footicon"></i></a>
          <a href="#"> <i class="fab fa-google-plus-square footicon"></i></a>
          <a href="#"> <i class="fab fa-twitter-square footicon"></i></a>
          <a href=""> <i class="fab fa-youtube footicon"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center">
      © 2019 Copyright:
      <a href="#"> #HASH </a>
    </div>
  </footer>




</html>
