<!DOCTYPE html>
<html lang="en">

<head>
  <title>faq</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  <style>
#passenger_fileds span
{
  width: 75px;
}

#passenger_fileds input
{
  width: 450px;
}


footer{
  position: fixed;
  z-index: 3;
  bottom: 10px;
  width: 100%;
}

#end{
 position:relative; top:25px; left: 45%;

}
  .foot
  {
   font-size: 40px;
   background-color:black;
  }
	.footicon
  {
		color:grey;
	}

  .footer,.push
  {
    left:0;
    height: 545px;
  }


  #border label
  {
      width: 300px;
  }
</style>

   <script>

   </script>



</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="container">
    <!-- navbar#####################################################################################################333-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">ASHAS railways</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><span class="glyphicon"></span> Home</a></li>
            <li><a href="#"><span class="glyphicon"></span> Book your ticket</a></li>
            <li><a href="#"><span class="glyphicon"></span>E-catering</a></li>
            <li><a href="#"><span class="glyphicon"></span>Cancel</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="calculator.html"><span class="glyphicon glyphicon-log-in"></span>Enquiry/Contact us</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>


<!-- ****************************************************************************************** -->
<h1>Frequently Asked Questions</h1>
<div class="bs-example">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. How do I make a train reservation?</a>
                </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>Enter your departure and arrival cities and travel dates in the link on the Home Page, or click the 'Book you ticket' button in the site header. You can book up to 6 passengers per reservation and reserve your tickets up to 11 months in advance. Available trains will be shown on the next page.  <a href="#" >book your ticket</a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. How do I cancel my reservation?</a>
                </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <p>You can use Amtrak.com to cancel your reservation if you made your reservation online. If you have made modifications to your trip after booking it online, you may not be able to cancel it online. If you paid for your one-way, round-trip or multi-ride reservations with a credit card or an eVoucher, you can also cancel it on Amtrak.com, even if you made your reservations on the phone, at a Quik-Trak kiosk or with a station agent. Credit can be obtained in the form of an eVoucher for canceled reservations. Cancellation fees may apply and not all tickets are eligible for cancellation.

If you have a profile on Amtrak.com, log in to see your upcoming reservations and select the reservation you want to cancel.  <a href="#">cancel</a></p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3.How can I check the status of my train? </a>
                </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p> You can also check train status on ASHAS.com by clicking the 'Train Status' button in the site header.<a href="#">track your train</a></p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4.What do tickets cost?</a>
                </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <p>The cost of your ticket is the rail fare, plus any accommodations you wish to add to your ticket. We don't charge additional taxes or fees. Upgrades and add-ons include Business class, First class and Sleeping Accommodation, as well as bringing your vehicle (on the Auto Train) or bike with you. <a href="#">More about shipping addresses.</a></p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5.How to postpone/prepone journey?</a>
                </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            <p>This can be done on line by cancelling the original ticket and booking a fresh ticket.<a href="#">More about shipping addresses.</a></p>
          </div>
        </div>
      </div>






    </div>
    <p><strong>Note:</strong> Click on the linked heading text to expand or collapse accordion panels.</p>
  </div>

  <script src="js/jquery-2.2.0.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>



<!-- ************************************************************************************************** -->





















<div class="push"></div>
</div>
  <!-- ############################   FOOTER  ###############################################################################################################################-->
</body>

  <footer id="footer">
    <!--footer -->

    <div class="container" bg-color="red">
      <div class="row" align="center">
        <div class="col-sm-12 foot">
          <a href="#"> <i class="fab fa-facebook-square footicon"></i></a>
          <a href="#"> <i class="fab fa-github footicon"></i></a>
          <a href="#"> <i class="fab fa-google-plus-square footicon"></i></a>
          <a href="#"> <i class="fab fa-twitter-square footicon"></i></a>
          <a href=""> <i class="fab fa-youtube footicon"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center">
      © 2019 Copyright:
      <a href="#"> #HASH </a>
    </div>
  </footer>




</html>
