<!DOCTYPE html>
<html lang="en">

<head>
  <title>register page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CDN -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  <style>
    html, body { height:100%; }

    .outer-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    }

    .inner-wrapper {
      display:table-cell;
      vertical-align:middle;
      padding:15px;
    }
    .login-btn { position:fixed; top:15px; right:15px; }







#passenger_fileds span
{
  width: 75px;
}

#passenger_fileds input
{
  width: 450px;
}


footer{
  position: fixed;
  z-index: 3;
  bottom: 10px;
  width: 100%;
}

#end{
 position:relative; top:25px; left: 45%;

}


  .foot
  {
   font-size: 40px;
   background-color:black;
  }
	.footicon
  {
		color:grey;
	}

  .footer,.push
  {
    left:0;
    height: 545px;
  }


  #border label
  {
      width: 300px;
  }
</style>

   <script>

   </script>



</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <div class="container">
    <!-- navbar#####################################################################################################333-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">ASHAS railways</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
          

          </ul>
          <ul class="nav navbar-nav navbar-right">
                        <li><a href={{ url_for('index') }} > Login</a></li>
          </ul>
        </div>
      </div>
    </nav>


<!-- ****************************************************************************************** -->



<section id="loginform" class="outer-wrapper">

  <div class="inner-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2 class="text-center">Register for a new account.</h2>
      <form role="form" method="POST" action="{{ url_for('register') }}">
  <div class="form-group">
    <label for="exampleInputEmail1">First name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter your first name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your last name">
  </div>
  <div class="form-group">

      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your username" name="username">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" name="pass">
  </div>


  <button type="submit" class="btn btn-default">Submit</button>
</form>

    </div>
  </div>
</div>
</div>

</section>

<!-- ************************************************************************************************** -->





















<div class="push"></div>
</div>
  <!-- ############################   FOOTER  ###############################################################################################################################-->
</body>

  <footer id="footer">
    <!--footer -->

    <div class="container" bg-color="red">
      <div class="row" align="center">
        <div class="col-sm-12 foot">
          <a href="#"> <i class="fab fa-facebook-square footicon"></i></a>
          <a href="#"> <i class="fab fa-github footicon"></i></a>
          <a href="#"> <i class="fab fa-google-plus-square footicon"></i></a>
          <a href="#"> <i class="fab fa-twitter-square footicon"></i></a>
          <a href=""> <i class="fab fa-youtube footicon"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center">
      © 2019 Copyright:
      <a href="#"> #HASH </a>
    </div>
  </footer>




</html>
